<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Scheduler</title>
</head>
<body>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <span>Hello @User.Identity.Name | </span>
            @Html.ActionLink("Logout", "Logout", "Account")
        }
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
