@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Main Page</h2>
<p>
    @Html.ActionLink("Create Schedule", "Create", "Schedule") |
    @Html.ActionLink("View Logs", "History", "Schedule")
</p>
